// Color Variables
$black: #000000;
$white: #ffffff;
$bg-color: $white;
$text-color: #777777;

$primary-color: #d4b254;
$primary-hover: #c8a74b;
$secondary-color: #00bdd3;
$disabled-color: #b4b4b4;

// Typography Variables
$primary-fonts: 'Roboto', sans-serif;
$secondary-fonts: 'Helvetica', sans-serif;

$bold: bold;

// Border Variables
$border-radius: 30px;
$border: 1px solid rgba($black, 0.3);

// Z-index
$zIndex-modal: 1050;

// Breakpoints
$breakpoint-small: 360px;
$breakpoint-medium: 620px;

// Transition timing
$transition-time: 0.3s;

// Mixins for media queries
@mixin respond-to($breakpoint) {
	@if $breakpoint == small {
		@media (max-width: $breakpoint-small) {
			@content;
		}
	} @else if $breakpoint == medium {
		@media (max-width: $breakpoint-medium) {
			@content;
		}
	}
}

@mixin tablet {
	@media screen and (max-width: 1280px) {
		@content;
	}
}

@mixin tabletSmall {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: 720px) {
		@content;
	}
}
