@import '../../styles/config';

.header {
	color: $white;
	font-size: 13px;
	letter-spacing: 3px;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;

	&.active {
		background-color: $black;
		box-shadow: 0 2px 10px rgba($black, 0.5);
	}

	@include tablet {
		position: static;
		background-color: $black;
	}

	&-container {
		display: flex;
		justify-content: center;
		padding: 30px 0;
		border-bottom: 1px solid rgba($white, 0.3);
		align-items: center;

		@include tablet {
			flex-direction: column;
			border: 0;
			padding: 40px 0;
		}
	}

	.img-icon {
		height: 16px;
	}
}

.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;

	@include tablet {
		position: static;
		transform: none;
	}
}

.header-nav {
	a {
		&:not(:last-child) {
			margin-right: 38px;
		}

		display: inline;
		position: relative;

		span {
			background-image: linear-gradient(currentColor, currentColor);
			background-size: 0 1px;
			background-repeat: no-repeat;
			background-position: left bottom;
			transition: background-size 0.3s;
		}

		&:hover {
			span {
				background-size: calc(100% - 3px) 1px;
			}
		}
	}

	&--left {
		margin-left: 130px;

		@include tablet {
			margin: 30px 0;
		}
	}

	&--right {
		margin-left: auto;
		margin-right: 65px;

		@include tablet {
			margin: 30px 0;
		}
	}
}

.header-social {
	margin-left: 12px;
	display: flex;
	align-items: center;

	@include tablet {
		margin-left: 0;
	}

	a {
		display: flex;

		&:hover {
			color: $primary-color;
		}

		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}
